<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="E:\NuGetPackages" />
  </config>
  <packageSources>
    <clear />
    <add key="HuaweiCloud" value="https://repo.huaweicloud.com/repository/nuget/v3/index.json" />
    <add key="NuGetOfficial" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
